{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block css %}
        {% endblock css %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Untitled</title>
        <style media="screen">
            .u-nav-link {
                color : white;
            }

            body {
                font-family: system-ui;
                background-color:#F1F7FC;
            }
        </style>
        <script src="{% static 'js/fa.js' %}" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/font/fonts-cereal.css' %}">
        <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
        <link rel="stylesheet" href="{% static 'css/nicepage.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts/ionicons.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    </head>

    <body style="margin-bottom:5%;">
      <!-- header -->
        <div style="margin-bottom: 7%">
            <div class="header-blue" style="height: 1rem;">
                <nav class="navbar navbar-light navbar-expand-md bg-white navigation-clean-search">
                    <div class="container-fluid"><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav"></ul><a class="login" href="{% url 'home' %}" style="color: #000000;"><img src="{% static 'image/logo.png' %}" style="width: 80%" /></a>
                            <form class="form-inline mr-auto" target="_self">
                                <div class="form-group"><label for="search-field"></label></div>
                            </form>
                            <nav class="navbar navbar-light navbar-expand-md navigation-clean">
                                <div class="container">
                                    <div class="collapse navbar-collapse" id="navcol-1">
                                        <ul class="nav navbar-nav ml-auto">
                                            <li class="nav-item" style="color: #000000;"><a class="nav-link" href="{% url 'term' %}" style="color: rgb(0,0,0);">Term and Condition</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#" style="color: #000000;">About</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            {% if user.is_authenticated %}
                                <div class="dropdown">
                                    <button class="btn btn-light action-button dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">{{request.user}}</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'booking_list' %}">My booking</a>
                                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></div>
                                </div>
                            {% else %}
                                <form class="" action="{% url 'login' %}" method="GET">
                                  <input type="hidden" name="next" value="{{request.path}}">
                                  <span class="navbar-text"><button type="submit" class="btn btn-light" style="color: #000000;border:0;">Log In</button></span>
                                </form>
                                <a class="btn btn-light action-button" role="button" href="{% url 'register' %}" style="color: #000000; margin: .5%;">Sign Up</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
      <!-- end header -->

        <!-- content -->
        <div class="">
          {% block content %}
          {% endblock content %}
        </div>
        <!-- end content -->

        <!-- footer -->
        <div style="background-color: rgb(20,20,20); margin-top: 5%; height:30rem;" class="footer-dark" style="background-color:transparent;margin-top:5%;">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="#">Web design</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Hosting</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>Company Name</h3>
                            <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                        </div>
                        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                    </div>
                    <p class="copyright">Company Name © 2017</p>
                </div>
            </footer>
        </div>
        <!-- end footer -->

        <!-- script field -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/scrollreveals.js' %}"></script>
        {% block script %}
        {% endblock script %}
        <!-- end script field -->
    </body>
</html>
