{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}

{% endblock css %}

{% block content %}
  <div class="container text-center">
    <div class="list-group">
      <div class="list-group-item list-group-item-action list-group-item-dark">
        <div class="row">
          <form class="col-5 text-left" method="POST">{% csrf_token %}
              Nama Gunung
              <span>
                <input type="text" name="search" style="border:none;border-radius:5px;padding:.5%"
                       {% if his_search %} placeholder="{{ his_search }}" {%else%} placeholder="Find Here" {% endif %}
                >
              </span>
          </form>
            <div class="col">
              Kategori Provinsi
            </div>
          <div class="col text-right">
            dilihat
          </div>
        </div>
      </div>

      {% for dats in data %}
        <a href="{% url 'mountain' slug=dats.slug %}" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-5 text-left">
              {{ dats.name }}
            </div>
            <div class="col">
              {{ dats.categories }}
            </div>
            <div class="col text-right">
              {{ dats.viewer }}
            </div>
          </div>
        </a>
      {% endfor %}

    </div>
  </div>
{% endblock content %}

{% block script %}
{% endblock script %}
